<div class="side-header">
  <div class="header-name">
      <%= link_to @room.group_name, root_path %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_message_path(@room.id) %>
  </div>
</div>

<div class="rooms">
    <div class="room">
      <div class="room-name">
        <%= link_to @room.first_work, room_messages_path(@room) %>
      </div>
      <div class="room-name">
        <%= link_to @room.second_work, room_messages_path(@room) %>
      </div> 
      <div class="room-name">
        <%= link_to @room.third_work, room_messages_path(@room) %>
      </div>
      <div class="room-name">
        <%= link_to @room.fourth_work, room_messages_path(@room) %>
      </div>
      <div class="room-name">
        <%= link_to @room.fifth_work, room_messages_path(@room) %>
      </div>           
    </div>
</div>