<div class='contents row'>
  <div class='container'>
    <div class='title'>新規手順書作成</div>
    <div class='text'>
      <%= form_with(model: @room, local: true) do |form| %>
      <%= render 'messages/error_messages', model: form.object %>
        <div class='click-upload'>
          <span class='upload'>作業図面の画像</span>
          <%= form.file_field :image, id:'item-image' %>
        </div>
        <div id="image-list"></div>
        <div class='group-name'>
          <%= form.text_field :group_name, placeholder: 'グループ名', class:'box' %>
        </div>
        <div class='work'>
          <%= form.text_field :species, placeholder: '機種', class:'box'%>
        </div>
        <div class='work'>
          <%= form.text_field :first_work, placeholder: '作業名１', class:'work_box' %>
        </div>
        <div class='work_text'>
          <%= form.text_area :first_text, class:'work_box_text', id:"item-info", placeholder:"（例）1. 符号◯番と◯番の部品を用意する（荷札と工番を確認の事）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div class='work'>
          <%= form.text_field :second_work, placeholder: '作業名２', class:'work_box' %>
        </div>
        <div class='work_text'>
          <%= form.text_area :second_text, class:'work_box_text', id:"item-info", placeholder:"（例）1. 符号◯番と◯番の部品を用意する（荷札と工番を確認の事）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div class='work'>
          <%= form.text_field :third_work, placeholder: '作業名３', class:'work_box' %>
        </div>
        <div class='work_text'>
          <%= form.text_area :third_text, class:'work_box_text', id:"item-info", placeholder:"（例）1. 符号◯番と◯番の部品を用意する（荷札と工番を確認の事）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div class='work'>
          <%= form.text_field :fourth_work, placeholder: '作業名４', class:'work_box' %>
        </div>
        <div class='work_text'>
          <%= form.text_area :fourth_text, class:'work_box_text', id:"item-info", placeholder:"（例）1. 符号◯番と◯番の部品を用意する（荷札と工番を確認の事）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div class='work'>
          <%= form.text_field :fifth_work, placeholder: '作業名５', class:'work_box' %>
        </div>
        <div class='work_text'>
          <%= form.text_area :fifth_text, class:'work_box_text', id:"item-info", placeholder:"（例）1. 符号◯番と◯番の部品を用意する（荷札と工番を確認の事）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div class='new-create'>
          <%= form.submit '作成', class:'new-create-btn' %>
        </div>
      <% end %>
    </div>
  <%= link_to(root_path, class:'root-btn') do %>
    <span>戻る</span>
  <% end %>
  </div>
</div>