<div class='contents row'>
  <div class='container'>
    <div class='title'>新規手順書作成</div>
    <div class='text'>
      <%= form_with(model: @room, local: true) do |form| %>
        <div class='click-upload'>
          <span class='upload'>クリックしてファイルをアップロード</span>
          <%= form.file_field :image, id:'item-image' %>
        </div>
        <div class='group-name'>
          <%= form.text_field :group_name, placeholder: 'グループ名', class:'box' %>
        </div>
        <div class='work'>
          <%= form.text_field :first_work, placeholder: '作業名１', class:'work_box' %>
        </div>

        <div class='work'>
          <%= form.text_field :second_work, placeholder: '作業名２', class:'work_box' %>
        </div>

        <div class='work'>
          <%= form.text_field :third_work, placeholder: '作業名３', class:'work_box' %>
        </div>

        <div class='work'>
          <%= form.text_field :fourth_work, placeholder: '作業名４', class:'work_box' %>
        </div>

        <div class='work'>
          <%= form.text_field :fifth_work, placeholder: '作業名５', class:'work_box' %>
        </div>
        <div class='new-create'>
          <%= form.submit '作成', class:'new-create-btn' %>
        </div>
      <% end %>
    </div>
  <%= link_to(root_path, class:'root-btn') do %>
    <span>戻る</span>
  <% end %>
  </div>
</div>